<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0dd28fd498d249aa" >
            <section name="BookerPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0dd28fd498d249aa" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <BookerPlus.Properties.Settings>
            <setting name="Gris" serializeAs="String">
                <value>DimGray</value>
            </setting>
        </BookerPlus.Properties.Settings>
    </userSettings>
</configuration>
